<launch>
  <!-- stage bot in simulated house running path plannign-->
  <include file="$(find rrt_exploration_tutorials)/launch/single_simulated_house.launch">
  <!-- <arg name="rgb_processing" value="false" /> <arg name="depth_registration" value="false" /> <arg name="depth_processing" value="false" /> <arg name="scan_topic" value="/scan" /> -->
  </include>

  <!--run wall follower node-->
  <node name="follower" pkg="robot_explorer" type="follower.py"/>

</launch>
